* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.blog-card {
  margin-top: 164px;
  width: 336px;
  padding: 16px;
  box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
}

.blog-card img {
  width: 100%;
}

.blog-card,
img {
  border-radius: 0.75rem;
}

/* Font styling and sizes */
h3,
p,
div {
  font-family: Sora;
}

h3 {
  font-size: 1.125rem;
  color: #20293a;
  margin-bottom: 0.375rem;
}

.paragraph {
  font-size: 0.875rem;
  color: #394150;
  margin-bottom: 1rem;
}

.name {
  color: #394150;
  margin-top: 1rem;
}

.name,
.tag {
  font-size: 0.75rem;
}

.tag {
  color: #7c19ee;
  background-color: #f2eafd;
  width: min-content;
  font-weight: 600;
  padding: 0.375rem 1rem;
  border-radius: 1rem;
  margin: 1rem 0;
}

hr {
  margin-top: 1.25rem;
}
